// bower:scss
// endbower

// responsive helpers
// using the mq breaks defined in vendor/stimpleton/stimpleton

// base value
// base value should be equal to the baseline font-size of your copy,
// when using stimpleton.
$base-value: 16;

// color definitions
$black:     #363636;
$gray-1:    #48525c;
$gray-2:    #6c7a88;
$gray-3:    #b4b7c2;
$gray-4:    #dcdce0;
$gray-5:    #ebeef5;
$gray-6:    #f5f7fa;
$green-1:   #0fa36d;
$green-2:   #13e296;
$purple-1:  #661c9c;
$purple-2:  #9e2cee;
$white:	    #ffffff;

// color mixin experiment stuff
$theme-colors: (
  black:    $black,
  gray-1:   $gray-1,
  gray-2:   $gray-2,
  gray-3:   $gray-3,
  gray-4:   $gray-4,
  gray-5:   $gray-5,
  gray-6:   $gray-6,
  green-1:  $green-1,
  green-2:  $green-2,
  purple-1: $purple-1,
  purple-2: $purple-2,
  white:    $white
);

// font family
$aktiv: 'aktiv-grotesk', 'Helvetica Neue', sans-serif;
$icon-font: 'icomoon';

// font sizing
// using the sizing in vendor/stimpleton/stimpleton

// font-weighting
// using the weighting in vendor/stimpleton/stimpleton
