// bower:scss
// endbower

/*
  Buttons
*/

button {
  cursor: pointer;
  display: block;
  font-family: inherit;
  background: none;
  border: none;
  float: none;
  text-align: center;
  padding: 1.2em 1.8em;
  margin: 0;
  &:active {
    outline: none;
  }
  &.stroked {
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
  }
  &:hover {
    i {
      &.forward {
        transform: translateX(8px);
        padding-right: 4px;
      }
    }
  }
}