// bower:scss
// endbower

/*
  Buttons
*/

button {
  cursor: pointer;
  display: block;
  font-family: inherit;
  background: none;
  border: none;
  float: none;
  text-align: center;
  padding: 1rem 1.6em;
  margin: 0;
  
  &:active,
  &:focus {
    outline: none;
  }
  
  &:hover {
  
    i {
  
      &.forward {
        transform: translateX(0.8rem);
        padding-right: 0.8rem;
      }
    }
  }

  &.stroked {
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
  }
}
