// bower:scss
// endbower

/*
  Theme Colors
*/

/* Thank you Kelly Sutton @kellysutton.com */
@each $color in $theme-colors {
  .text--#{nth($color, 1)} {
    color: nth($color, 2);
  }
  .bg--#{nth($color, 1)} {
    background-color: nth($color, 2);
  }
  .border--#{nth($color, 1)} {
    border-color: nth($color, 2);
  }
}

.bg--trans {
  background-color: transparent!important;
}
