// bower:scss
// endbower

a {
  text-decoration: none;
  background-color: none;
  color: inherit;
  font-weight: inherit;
  border-bottom: 2px solid transparent;
  transition: color 0.1s ease-in-out, border-bottom 0.1s ease-in-out;
  &:focus {
    outline: 0;
  }
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}