// bower:scss
// endbower

/*
  Links
*/

a {
  text-decoration: none;
  background-color: none;
  color: inherit;
  font-weight: inherit;
  border-bottom: 0.2rem solid transparent;
  transition: all 0.16s ease;

  &:focus {
    outline: 0;
  }

  &:visited {
    text-decoration: none;
    color: inherit;
  }

  i {
    display: inline-block;
    transition: transform 0.16s ease;
  }
}

p a {
  color: inherit;
  text-decoration: inherit;
  font-weight: $text-wt-bold;
  
  &:hover {
    border-bottom-color: inherit;
  }
}
