// bower:scss
// endbower

/*
  Typography
*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;

  b {
    font-weight: $text-wt-xbold;
  }
}

h1 {
  font-size: $text-sz-h-ludicrous;
  letter-spacing: -0.8rem;
  line-height: 1.0;
  font-weight: $text-wt-xbold;
  
  @include respond(tablet) {
    font-size: $text-sz-h-stupid;
  }
  
  @include respond(phone) {
    font-size: $text-sz-h-huge;
    letter-spacing: -0.4rem;
  }
}

h2 {
  font-size: $text-sz-h-stupid;
  letter-spacing: -0.4rem;
  font-weight: $text-wt-xbold;
  line-height: 1.2;
}

h3 {
  font-size: $text-sz-h-huge;
  letter-spacing: -0.32rem;
  font-weight: $text-wt-xbold;
  line-height: 1.0;
  @include respond(phone) {
    letter-spacing: -1px;
    font-size: $text-sz-h-large;
  }
}

h4 {
  font-size: $text-sz-h-larger;
  letter-spacing: -0.08rem;
  line-height: 1.2;
  font-weight: $text-wt-regular;
  @include respond(tablet) {
    font-size: $text-sz-h-large;
  }
}

h5 {
  font-size: $text-sz-h-large;
  letter-spacing: -0.08rem;
  line-height: 1.0;
  font-weight: $text-wt-xbold;
}

h6 {
  font-size: $text-sz-body;
  line-height: 1.0;
  font-weight: $text-wt-regular;

  @include respond(tablet) {
    font-size: $text-sz-baseline;
  }
}

p {
  font-weight: $text-wt-regular;
  font-size: $text-sz-body;
  hyphens: none;
  
  &.next {
    margin-top: 3.2rem;
  }

  @include respond(tablet) {
    font-size: $text-sz-baseline;
  }
}

@import "../vendor/stimpleton/system/_typography";
