// bower:scss
// endbower

#landing {

	header,
	section,
	footer {
		display: block;
	}

	.barcode {
		position: fixed;
		top: 0;
		right: 0;
		height: 100%;
		z-index: 999;

		@include respond(tablet) {
			left: 0;
			height: 0.8rem;
		}

		@include respond(tablet) {
			height: 0.4rem;
		}

		&.little-bar {
			width: 0.8rem;

			@include respond(tablet) {
				width: 100%;
			}
		}
	}
}
