// bower:scss
// endbower

/*
	Layout / Footer 
*/

footer {
	display: inherit;
}

.footer--main {
	width: 100%;
	padding: 4rem 0 2.4rem;
	clear: left;

	@include respond(phone) {
		padding-left: ((1 / 12) * 100) + %;
    padding-right: ((1 / 12) * 100) + %;
	}

	h3 {
		position: absolute;
		top: -10.4rem;
		font-size: 7.2rem;
		width: 10000px;
		overflow: hidden;

		@include respond(phone) {
			font-size: $text-sz-h-large;
			top: -6.8rem;
		}

		+ p {
			padding-top: 4rem;
			margin-bottom: 3.2rem;

			@include respond(phone) {
				padding-top: 2.4rem;
			}
		}
	}

	p,
	ul {
		font-size: $text-sz-body;
	}

	.nav-links--social {
		margin-bottom: 4.8rem;

		@include respond(phone) {
		}

		li {
			display: inline-block;
			margin-right: 2.4rem;
			margin-bottom: 1.6rem;
			font-weight: $text-wt-bold;

			a {

				&:hover {
					border-bottom: 2px solid;
				}
			}

			@include respond(phone) {
				width: 50%;
				margin-right: 0;

				&:nth-child(even){
					float: right;
				}
			}
		}
	}

	&.footer--main-green {
		background-color: $green-2;

		h3 {
			color: $green-2;
		}

		p {
			color: $white;

			a {
				color: $green-1;
			}
		}

		ul,
		span {
			color: $green-1;
		}

		li {

			a {

				&:hover {
					border-bottom-color: $green-1;
				}
			}
		}
	}

	&.footer--main-gray {
		background-color: $gray-2;

		h3 {
			color: $gray-2;
		}

		p {
			color: $white;

			a {
				color: $gray-1;
			}
		}

		ul,
		span {
			color: $gray-1;
		}

		li {

			a {

				&:hover {
					border-bottom-color: $gray-1;
				}
			}
		}
	}

	&.footer--main-purple {
		background-color: $purple-2;

		h3 {
			color: $purple-2;
		}

		p {
			color: $white;

			a {
				color: darken($purple-1, 8%);
			}
		}

		ul,
		span {
			color: darken($purple-1, 8%);
		}

		li {

			a {

				&:hover {
					border-bottom-color: darken($purple-1, 8%);
				}
			}
		}
	}
}
