// bower:scss
// endbower

footer {
	display: block;
	padding: 10em 0;
	vertical-align: bottom;
	.footer--container {
		padding: 8em 0 1.6em;
		background-color: $green-2;
	}
	.ghost {
		top: -15.0em;
		left: 1.6em;
		overflow: hidden;
	}
	.copyright {
		display: block;
		clear: left;
		padding-top: 6.4em;
		padding-bottom: 1.6em;
		padding-left: 1.6em;
	}
	a {
		color: $green-1 !important;
		text-decoration: none;
	}
	p {
		z-index: 30;
	}
	span {
		display: block;
		font-size: 1.4em;
	}
	ul {
		display: inline-block;
		font-size: $small-type;
		color: $green-1;
		font-weight: $bold;
		li {
			display: inline-block;
		}
	}
}