// bower:scss
// endbower

/*
	Layout / Header
*/

header {
	display: inherit;
  transition: background-color 0.16s ease;
}

&.header--main {
  position: sticky;
  width: 100%;
  top: 0;
  padding: 4.8rem 0;
  z-index: 888;

  @include respond(tablet) {
    padding: 3.2rem 0;
  }

  @include respond(phone) {
    padding: 2.4rem 0;
  }

	.nav {
		width: 100%;

		@include respond(phone) {
      padding-left: ((1 / 12) * 100) + %;
      padding-right: ((1 / 12) * 100) + %;
		}

		#nav--name-title {
			display: inline-block;
			float: left;
			border-bottom: none!important;

      span + span {
        opacity: 0.6;
      }
		}
		
		button {
			position: relative;
			display: inline-block;
			float: right;
			margin: 0;
			padding: 0;
			color: inherit;
			z-index: 999;

			i {
				line-height: 1.0;
				font-size: $text-sz-h-small;
				margin: 0;
				padding: 0;
        opacity: 0.6;

        &:hover {
          opacity: 1.0;
        }
			}
		}
	}

	nav {
		display: block;

		span {
			font-size: $text-sz-body;
		}

		span + span {
			display: block;
			padding-top: 0.4rem;

			@include respond(phone) {
				font-size: $text-sz-baseline;
			}
		}

		#toggle {
			position: relative;
		}

		.nav-links--container {
			display: none;
			position: absolute;
			top: 0;
			right: 0;
			width: 50%;
			min-height: 100vh;
			padding: 4.8rem 6.4rem;

      @include respond(desktop) {
        margin-top: -4.8rem;
      }

      @include respond(super-tablet) {
        margin-top: -4.8rem;
      }

      @include respond(tablet) {
        margin-top: -3.2rem;
      }

      @include respond(phone) {
        margin-top: -2.4rem;
      }

			.nav-links--main,
			.nav-links--social {
				display: block;
			}

			.nav-links--main{
				font-size: $text-sz-h-large;
				line-height: 1.0;
				font-weight: $text-wt-bold;
				margin-bottom: 4.8rem;

				li {
					display: block;
					margin-bottom: 1.6rem;

					&.active {
						font-weight: $text-wt-xbold;

						a {
							border: none!important;
							cursor: default!important;
						}
					}

					a {
						
						&:hover {
							border-bottom: 2px solid;
						}
					}
				}
			}

			.nav-links--social {
				font-size: 2.1rem;
				font-weight: $text-wt-regular;

        @include respond(super-desktop){
          width: ((2 / 3) * 100) + %;
        }

				li {
					display: inline-block;
					margin-bottom: 1.6rem;
					width: 50%;

					&:nth-child(even){
						float: right;
					}

					a {
						&:hover {
							border-bottom: 2px solid;
						}
					}
				}
			}

			@include respond(tablet) {
				left: 0;
				width: 100%;
				min-height: 0;
				height: auto;
				padding: 3.2rem 8.3333333333%;

				.nav-links--main,
				.nav-links--social {
					float: left;
				}

				.nav-links--main {
					width: 45%;
					margin-bottom: 1.6rem;
				}

				.nav-links--social {
					width: 55%;
				}
			}

			@include respond(phone) {
				padding-top: 2.4rem;
				padding-bottom: 2.4rem;
				height: 100vh;

				.nav-links--main {
					width: 100%;
				}

				.nav-links--social {
					width: 100%;
				}
			}

			&.pullout-opened {
				display: block;
			}
		}
	}

	&.header--main-white {
		background-color: white;

		#nav--name-title,
    button {
			color: $gray-1;
		}

		button {

			&.pullout-opened {
				i {
					color: $green-1;
				}
			}
		}

		.nav-links--container {
			background-color: $green-2;

			.nav-links--main {
				color: $green-1;

				li {
					display: block;

					&.active {
						color: $white;
					}

					a {
						
						&:hover {
							border-bottom-color: $green-1;
						}
					}
				}
			}

			.nav-links--social {
				color: $green-1;

				a {
					
					&:hover {
						border-bottom-color: $green-1;
					}
				}
			}
		}
	}

	&.header--main-gray {
    background-color: $gray-2;

		#nav--name-title,
    button {
			color: $gray-1;
		}

		button {

			&.pullout-opened {
				i {
					color: $gray-1;
				}
			}
		}

		.nav-links--container {
			background-color: $gray-2;

			.nav-links--main {
				color: $gray-1;

				li {
					display: block;

					&.active {
						color: $black;
					}

					a {
						&:hover {
							border-bottom-color: $gray-1;
						}
					}
				}
  		}

			.nav-links--social {
				color: $gray-1;

				a {
					
					&:hover {
						border-bottom-color: $gray-1;
					}
				}
			}
		}
	}

	&.header--main-purple {
		background-color: $purple-2;

		#nav--name-title,
    button {
			color: darken($purple-1, 8%);
		}

		button {

			&.pullout-opened {
				i {
					color: darken($purple-1, 8%);
				}
			}
		}

		.nav-links--container {
			background-color: $purple-2;

			.nav-links--main {
				color: $purple-1;

				li {
					display: block;

					&.active {
						color: darken($purple-1, 8%);
					}

					a {
						
						&:hover {
							border-bottom-color: $purple-1;
						}
					}
				}
  		}

			.nav-links--social {
				color: $purple-1;

				a {
					
					&:hover {
						border-bottom-color: $purple-1;
					}
				}
			}
		}
	}
}

&.header--main-scroll {
  background-color: $white !important;
}
