// bower:scss
// endbower

nav {
	dl,
	ol,
	ul {
		list-style: none;
  		margin: 0;
  		padding: 0;
	}
	ul {
		font-size: 1.9em;
		li {
			display: inline-block;
			float: left;
			margin-right: 3em;
			color: $gray-3;
			padding-bottom: 0.6em;
			&.last {
				margin-right: 0;
			}
			a {
				display: block;
				&:hover {
					border-bottom-color: $green-2;
					color: $green-2;
				}
			}
		}
	}
}
