// bower:scss
// endbower

nav {
	-webkit-user-select: none;
  	user-select: none;
	justify-content: space-between;
	z-index: 50;
	dl,
	ol,
	ul {
		list-style: none;
  		margin: 0;
  		padding: 0;
	}
	ul {
		font-size: 1.9em;
		li {
			display: inline-block;
			float: left;
			margin-right: 3em;
			color: inherit;
			padding-bottom: 0.6em;
			&.last {
				margin-right: 0;
			}
			a {
				display: block;
				&:hover {
					border-bottom-color: inherit;
					color: inherit;
				}
			}
		}
	}
}
